# Root production compose

# App
SPRING_MONGODB_URI=mongodb://stayops_app:replace-with-runtime-password@mongo1-private-ip:27017,mongo2-private-ip:27017,mongo3-private-ip:27017/stayops?replicaSet=rs0&w=majority&readPreference=primary&retryWrites=true&authSource=admin
TOSS_SECRET_KEY=replace-with-runtime-secret
MOCK_OTA_ENDPOINT=http://mock-ota:8081

# Observability
MONGO1_HOST=mongo1-private-ip
MONGO2_HOST=mongo2-private-ip
MONGO3_HOST=mongo3-private-ip
GRAFANA_PASSWORD=replace-with-admin-password
