MONGO_REPLICA_SET=rs0
MONGO_HOST=10.0.2.10
MONGO_INITDB_ROOT_USERNAME=root
MONGO_INITDB_ROOT_PASSWORD=replace-with-runtime-password
MONGO_APP_USERNAME=stayops_app
MONGO_APP_PASSWORD=replace-with-runtime-password
MONGO_EXPORTER_USERNAME=stayops_exporter
MONGO_EXPORTER_PASSWORD=replace-with-runtime-password
